<h1>edit robot</h1>

<div class="input-group">
  <form action="/robots/<%= @robot.id %>" method="post">
    <input type="hidden" name="_method" value="PUT"/>
    <input type="text" value="<%= @robot.name %>" class="form-control" name='robot[name]'/><br/>
    <input type="text" value="<%= @robot.city %>" class="form-control" name='robot[city]'/><br/>
    <input type="text" value="<%= @robot.state %>" class="form-control" name='robot[state]'/><br/>
    <input type="text" value="<%= @robot.birthdate %>" class="form-control" name='robot[birthdate]'/><br/>
    <input type="text" value="<%= @robot.datehired %>" class="form-control" name='robot[datehired]'/><br/>
    <input type="text" value="<%= @robot.department %>" class="form-control" name='robot[department]'/><br/>
    <input type="submit"/>
  </form>
</div>
