<h1>robots</h1>
<% @robots.each do |robot| %>
  <div class="well">
    <a href="/robots/<%= robot.id %>"<ul><%= robot.id %>: <%= robot.name %></ul></a><br/>
    <a href="/robots/<%= robot.id %>/edit"><button>edit</button></a><br/>
    <form action="/robots/<%= robot.id %>" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="delete"/>
    </form>
  </div>
<% end %>
<br/>
<a href="/"><button>home</button></a>
<a href="/robots/new"><button>add a robot</button></a>
